.container{
    width:90%;
    margin: 0px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jcnt{
    justify-content: center;
}
.align{
    align-items: center;
}
.h-100{
    height: 100vh;
}
.col-2{
    width:16.66%;
}
.col-1{
    width: 8.33%;
}
.col-12{
    width: 100%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width:50%;
    padding: 10px;
}
.text-center{
    text-align: center;
}
 